import init.pcm049.usb.rc
import init.pcm049.wifi.rc

on init
# See storage config details at http://source.android.com/tech/storage/
# Primay External Storage
	mkdir /mnt/media_rw 0700 media_rw media_rw
	mkdir /mnt/media_rw/sdcard0 0700 media_rw media_rw
	mkdir /storage/sdcard0 0700 root root

	export EXTERNAL_STORAGE /storage/sdcard0

# Support legacy paths
	symlink /storage/sdcard0 /sdcard
	symlink /storage/sdcard0 /mnt/sdcard

# External USB mount point
	mkdir /storage/udisk 0000 system system

# Set the processor type for libEGL.  We set this to omap4430 even though we
# may be running on an omap4460. Since they both have the same SGX, libEGL
# does not care.
    setprop ro.product.processor omap4430

# Allow everybody to read the xt_qtaguid resource tracking misc dev.
# This is needed by any process that uses socket tagging.
	chmod 0644 /dev/xt_qtaguid

on post-fs-data
	mkdir /data/media 0775 media_rw media_rw
	chown media_rw media_rw /data/media
	mkdir /data/misc/wifi 0770 wifi wifi
	mkdir /data/misc/wifi/sockets 0770 wifi wifi
	mkdir /data/misc/dhcp 0770 dhcp dhcp
	chown dhcp dhcp /data/misc/dhcp
	mkdir /data/misc/eth 0770 system system
	chown system system /data/misc/eth
	mkdir /data/misc/camera 0770 media media

# for Bluetooth HID
	chmod 0666 /dev/uhid

# change permissions for Bluetooth/FM/GPS
	chmod 0600 /sys/class/rfkill/rfkill0/state
	chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
	chmod 0600 /dev/ttyO1
	chown bluetooth bluetooth /dev/ttyO1

	setprop vold.post_fs_data_done 1

on boot
	setprop lcd.landscape true
	
	mount debugfs /sys/kernel/debug /sys/kernel/debug
# change permissions for ION driver
	chmod 0777 /dev/ion
	chmod 0666 /dev/pvrsrvkm

# change permissions for i2c-3 device
	chmod 0660 /dev/i2c-3
	chown media media /dev/i2c-3

# cpufreq interactive governor: timer 20ms, min sample 20ms, hispeed 800MHz
        write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 20000
        write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 20000
        write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 800000

# Boost the CPU for 30 secs during boot
        write /sys/devices/system/cpu/cpufreq/interactive/boost_timeout 30000000
        write /sys/devices/system/cpu/cpu0/cpufreq/boost_cpufreq 1

# autosuspend root hubs immediatly after attached devices
        write /sys/bus/usb/devices/usb1/power/autosuspend_delay_ms 0
        write /sys/bus/usb/devices/usb2/power/autosuspend_delay_ms 0

	chmod 0666 /dev/ttyO3

# GPS init
	chown gps system /dev/ttyO0
	chmod 0666 /dev/ttyO0

	# GPS ON-OFF
	write /sys/class/gpio/export 172
	write /sys/class/gpio/gpio172/direction out
	write /sys/class/gpio/gpio172/value 0
	chown gps system /sys/class/gpio/gpio172/value
	chmod 0666 /sys/class/gpio/gpio172/value

	# GPS SYSTEM-ON
	write /sys/class/gpio/export 177
	write /sys/class/gpio/gpio177/direction in
	chown gps system /sys/class/gpio/gpio177/value
	chmod 0666 /sys/class/gpio/gpio177/value

	# GPS NRESET
	write /sys/class/gpio/export 174
	write /sys/class/gpio/gpio174/direction out
	write /sys/class/gpio/gpio174/value 1
	chown gps system /sys/class/gpio/gpio174/value
	chmod 0666 /sys/class/gpio/gpio174/value

	mkdir /data/gps
	chown gps system /data/gps
	chmod 0770 /data/gps

on fs
	symlink /dev/block/platform /dev/block/platform/omap
	mount_all /fstab.pcm049

	# Backlight
	chown system system /sys/class/backlight/pwm-backlight/brightness

# H264 Encoder Profile setting
# 1 - Base Profile
# 2 - Main Profile
# 8 - High Profile
        setprop video.h264enc.profile 1

# change permissions for Sensors
	chown system system /sys/bus/i2c/drivers/adxl34x/4-0053
	chown system system /sys/bus/i2c/drivers/adxl34x/4-0053/disable
	chown system system /sys/bus/i2c/drivers/adxl34x/4-0053/rate

# Change permissions on the governor (this is for debug only)
	chmod 444 /proc/cmdline

# If you do not want the device to suspend to RAM, enable this write
#	write /sys/power/wake_lock init.pcm049.rc_no_suspend

service pvrsrvinit /system/vendor/bin/pvrsrvinit
	class core
	user root
	group root
	oneshot

#shared transport user space mgr service for Bluetooth, FM and GPS
service uim /system/bin/uim-sysfs
	class core
	user bluetooth
	group bluetooth net_bt_admin

# create physical SD card at /storage/sdcard0
service fuse_sdcard0 /system/bin/sdcard /mnt/media_rw/sdcard0 /storage/sdcard0 1023 1023
	class late_start
	disabled

service dhcpcd_eth0 /system/bin/dhcpcd -ABDKL
	class main
	disabled
	oneshot

